<!-- Tag Cards -->

<!-- ROW De-marker (3 cards per row)-->
<div class="container">
<div class="row g-0 row-gap">
  <!-- Individual Card -->
  <% for (const resource of user.resources) { %>
  <div class="col-md-4 p-3">
    <div class="card bg-transparent">
      <img src="https://image.thum.io/get/auth/58035-115fdddb495b048304a3db114625280a/<%=resource.url%>" class="card-img-top resource-img" alt="..." >
      <div class="card-body">
        <h5 class="card-title"><%=resource.title%></h5>
        <p class="card-text"><%=resource.description%></p>
        <a href="<%=resource.url%>" class="btn btn-primary btn-sm card-link">Link!</a>
        <footer>
          <!-- <div class="icons">
            <span>
              <i class="fa fa-heart red ml-3 hover-animation" data-hover-color="red"></i>
              <span>
                <i class="fa-regular fa-star star1"></i>
                <i class="fa-regular fa-star star2"></i>
                <i class="fa-regular fa-star star3"></i>
                <i class="fa-regular fa-star star4"></i>
                <i class="fa-regular fa-star star5"></i>
              </span>
          </div> -->
          <!-- <p class="card-comments">Comments <span class="comment-count">6</span></p> -->
          <!-- <span class="card-avg-rating"><strong>4.5</strong></span>
          <span>Avg Rating</span> -->
          <hr>
          <span class="card-bottom">
            <p class="card-subtitle mb-2 card-tag"><%= resource.tag %></p>
            <a class="card-spl" href="/resources/<%=resource.id%>">Card Page</a>
          </span>
          </span>

        </footer>
      </div>
    </div>
  </div> <% }%>
  </div>
</div>

  <!-- End of Individual Card -->

  <!-- Second Row -->

