<!DOCTYPE html>
<html lang="en">

<head>
  <title>EduTag!</title>
  <!-- External CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <!--CSS Stylesheets -->
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/spl.css" type="text/css" />
  <link rel="stylesheet" href="/styles/create.css" type="text/css" />
  <link rel="stylesheet" href="/styles/userpage.css" type="text/css" />
  <link rel="stylesheet" href="/styles/ratings.css" type="text/css" />
  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Roboto+Serif:opsz,wght@8..144,100;8..144,300;8..144,600&display=swap"
    rel="stylesheet">

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

  <!-- Bootstrap CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <!-- Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

  <!-- Font Awesome Library -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Clientside JS -->
  <script type="text/javascript" src="/scripts/app.js"></script>

  <script src="https://cdn.auth0.com/js/auth0-spa-js/1.13/auth0-spa-js.production.js"></script>
</head>


<body>

  <%- include('partials/_navbar'); %>
  <%- include('partials/_login'); %>
  <%- include('partials/_register'); %>

    <main>
      <div id="background-img">
      <%- include('partials/_sidebar'); %>
        <!-- Main Page Division-->
        <div class="col-9" style="margin-left: 22%;">

<!-- Single Resource Page Card -->

  <div class="spl-card" style="width: 80%; min-width: 900px;">
    <!-- Leftside of Card -->
    <div class="spl-body" style="width: 90;">
      <div class="spl-info">
        <h1 class="spl-title rainbow"><%- user.resources.title %></h1>
        <p class="spl-text rainbow"><%- user.resources.description %></p>
        <h3 class="rainbow">
          <bold>Tags: </bold>
        </h3>
        <p class="spl-tags rainbow"><%- user.resources.tag %></p>
        <h3 class="rainbow">
          <bold>Link to Resource: </bold>
          <h3>
            <a href="<%- user.resources.url %>" class="btn btn-secondary btn spl-link rainbow">Link</a><span class="rainbow"
              id="spl-link-addy"><%- user.resources.url %></span>
            <div class="icons">
                <span class="heart-icon rainbow">
                <input id="heart" type="checkbox" />
                <label for="heart">❤</label>
                <p id="like-icon">Like!</p>
                <span>
                  <form class="rainbow star-rating action="" method="POST">
                    <label for="star-1"><p style="font-size:15px">1</p></label>
                    <input type="radio" class="star-input" name="rating" id="star-1" value="1">
                    <!-- <label for="star-1" class="star"><i class="fas fa-star"></i></label> -->
                    <label for="star-1"><p style="font-size:15px">2</p></label>
                    <input type="radio" class="star-input" name="rating" id="star-2" value="2">
                    <!-- <label for="star-2" class="star"><i class="fas fa-star"></i></label> -->
                    <label for="star-1"><p style="font-size:15px">3</p></label>
                    <input type="radio" class="star-input" name="rating" id="star-3" value="3">
                    <!-- <label for="star-3" class="star"><i class="fas fa-star"></i></label> -->
                    <label for="star-1"><p style="font-size:15px">4</p></label>
                    <input type="radio" class="star-input" name="rating" id="star-4" value="4">
                    <!-- <label for="star-4" class="star"><i class="fas fa-star"></i></label> -->
                    <label for="star-1"><p style="font-size:15px">5</p></label>
                    <input type="radio" class="star-input" name="rating" id="star-5" value="5" checked>
                    <!-- <label for="star-5" class="star"><i class="fas fa-star"></i></label> -->
                    <button class="btn btn-secondary btn-sm rate-button" type="button">Rate!</button>
                  </form>
                </span>
            </div>
            <!-- <span class="card-avg-rating rainbow">4.5</span>
            <span class="rainbow">Avg Rating</span> -->

            </span>
      </div>
      <div class="spl-comment-form rainbow">
        <form method="POST" action="/">

          <textarea name="text" id="comment-text"></textarea>
          <div class="comment-submit">
            <button type="submit" class="btn btn-secondary rainbow">Comment</button>
          </div>
        </form>

      </div>
    </div>
    <!-- Rightside of Card -->
    <div class="spl-comment-body">
      <!-- <img src="https://www.visionlearning.com/images/figure-images/52-a.jpg" class="card-img-top spl-url-preview rainbow"
        alt="..."> -->
      <img src="https://image.thum.io/get/auth/58035-115fdddb495b048304a3db114625280a/<%- user.resources.url %>" class="card-img-top spl-url-preview rainbow"
      alt="...">
      <!-- 'Old' Comments -->
      <!-- Single Comment -->
      <section class="spl-comments rainbow">
        <header class="spl-commenter">
          <span class="name-and-pic">
            <!-- <img src="https://i.imgur.com/nlhLi3I.png"> -->
            <p class="spl-comment-name">Carl Sagan</p>
          </span>
          <span class="handle">@Starboy</span>
        </header>
        <hr>
        <p class="comment-content">
          A great interactive tool! I can see use for this in the classroom. Great presentation and native dark
          mode makes it so easy on the eyes!
        </p>
      </section>
      <!-- End of Single Comment -->
      <section class="spl-comments rainbow">
        <header class="spl-commenter">
          <span class="name-and-pic">
            <!-- <img src="https://i.imgur.com/73hZDYK.png"> -->
            <p class="spl-comment-name">Dmitri Mendeleev</p>
          </span>
          <span class="handle">@Mendelevium</span>
        </header>
        <hr>
        <p class="comment-content">
          Made some good changes on my original design.
        </p>
      </section>

    </div>

  </div>

</div>
</div>
</main>


</body>

</html>
